BASE_URL = https://www.saucedemo.com
STANDARD_USER = standard_user
LOCKED_OUT_USER =locked_out_user
PROBLEM_USER = problem_user
PERFORMANCE_USER = performance_user
ERROR_USER =error_user
VALID-PASSWORD = secret_sauce
INVALID_PASSWORD = open_sauce
